* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
nav {
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: #373737;
  font-size: 20px;
  font-weight: 500;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.sec1 {
  background-color: #fff7f4;
  padding: 100px 10%;
  display: flex;
  justify-content: space-between;
}
.left-sec1 h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 124%;
  width: 75%;
}
.digital {
  color: #ff5300;
}
.left-sec1 p {
  font-size: 15px;
  color: #7b7b7b;
  width: 78%;
  line-height: 26px;
  margin: 20px 0px;
}
.left-sec1 button {
  padding: 14px 20px;
  background-color: #ff5300;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
}
.burger_hidden {
  display: none;
}
.sec2 {
  padding: 80px 10%;
  display: flex;
  justify-content: space-between;
}
.right_sec2 h6 {
  font-size: 20px;
  font-weight: 400;
  color: #7b7b7b;
}
.right_sec2 h2 {
  font-size: 42px;
  width: 90%;
}
.right_sec2 p {
  color: #7b7b7b;
  font-size: 16px;
  margin: 10px 0px;
}
.making {
  color: #ff5300;
}
.right_sec2 button {
  padding: 14px 20px;
  background-color: #ff5300;
  border: none;
  border-radius: 10px;
  margin-top: 20px;

  color: white;
  font-size: 18px;
}
.sec3 {
  padding: 20px 10%;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 280px;
  height: 220px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.card p {
  margin-top: 20px;
}
.sec4 {
  background-color: #fff7f4;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.plans {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 140px;
}
.plan {
  width: 250px;
  height: 220px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.left-sec4 {
  width: 75%;
  margin-top: 40px;
}
.number {
  font-size: 50px;
  font-weight: 700;
  margin-top: 30px;
}
.text {
  margin-top: 20px;
  color: #7b7b7b;
  font-size: 20px;
}
.left-sec4 h6 {
  color: #7b7b7b;
  font-size: 20px;
  font-weight: 400;
}
.left-sec4 h2 {
  font-size: 40px;
  margin-top: 20px;
}
.left-sec4 p {
  color: #7b7b7b;
  margin: 14px 0px;
}
.left-sec4 button {
  padding: 14px 20px;
  background-color: #ff5300;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
}
.num {
  color: #ff5300;
}
.sec5 {
  padding: 20px 10%;
}
.member {
  width: 270px;
  height: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 40px;
}
.members {
  display: flex;
  justify-content: space-between;
}
.member h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0px;
}
.member p {
  color: #7b7b7b;
}
.sec5 p {
  color: #7b7b7b;
  text-align: center;
  font-size: 18px;
}
.some {
  color: #ff5300;
}
.sec5 h2 {
  font-size: 40px;
  text-align: center;
  width: 40%;
  margin: 10px auto;
}
.mem {
  width: 470px;
  height: 250px;
  background-color: #ff5300;
  color: white;
  padding: 30px;
}
.mems {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.sec6 {
  padding: 40px 10%;
  background-color: #fff7f4;
}
.sec6 p {
  text-align: center;
  color: #7b7b7b;
  font-size: 18px;
  margin: 20px 0px;
}
.sec6 h2 {
  font-size: 40px;
  text-align: center;
}
.color {
  color: #ff5300;
}
.lorem {
  color: white;
}
.sec6 h5 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}
.sec6 h6 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (max-width: 510px) {
  .links {
    display: none;
  }
  .burger_hidden {
    display: block;
  }
  .sec1 {
    width: 100%;
    flex-direction: column-reverse;
  }
  .left-sec1 {
    width: 100%;
  }
  .left-sec1 h1 {
    width: 100%;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
  }
  .left-sec1 p {
    width: 100%;
    text-align: center;
  }
  .left-sec1 button {
    display: block;
    margin: 20px auto;
  }
  .right_sec1 {
    width: 100%;
  }
  .right_sec1 img {
    width: 100%;
  }
  .sec2 {
    width: 100%;
    flex-direction: column;
  }
  .left_sec2 img {
    width: 100%;
  }
  .left_sec2 {
    width: 100%;
  }
  .right_sec2 h2 {
    font-size: 28px;
    width: 100%;
    margin: 20px 0px;
  }
  .right_sec2 {
    margin-top: 40px;
  }
  .right_sec2 p {
    text-align: center;
    width: 100%;
    font-size: 15px;
  }
  .right_sec2 button {
    display: block;
    margin: 20px auto;
  }
  .sec3 {
    width: 100%;
    padding: 10px 5%;
  }
  .cards {
    flex-direction: column;
    gap: 20px;
  }
  .card {
    width: 100%;
  }
  .card p {
    font-size: 20px;
  }
  .sec4 {
    width: 100%;
    flex-direction: column;
  }
  .left-sec4 {
    width: 100%;
  }
  .right_sec4 {
    width: 100%;
  }
  .plans {
    flex-direction: column;
  }
  .plan {
    width: 100%;
    height: auto;
  }
  .plans {
    margin-left: 0px;
  }
  .left-sec4 h2 {
    width: 100%;
    text-align: center;
    font-size: 28px;
  }
  .left-sec4 p {
    width: 100%;
    text-align: center;
  }
  .left-sec4 h6 {
    text-align: center;
  }
  .left-sec4 button {
    display: block;
    margin: 20px auto;
  }
  .hidden {
    display: none;
  }
  .sec5 {
    width: 100%;
  }
  .member {
    width: 100%;
  }
  .sec5 h2 {
    width: 100%git;
  }
  .hide {
    display: none;
  }
  .sec6 {
    width: 100%;
  }
  .mem {
    width: 100%;
  }
}
