* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
nav {
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: #373737;
  font-size: 20px;
  font-weight: 500;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.sec1 {
  background-color: #fff7f4;
  padding: 100px 10%;
  display: flex;
  justify-content: space-between;
}
.left-sec1 h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 124%;
  width: 75%;
}
.digital {
  color: #ff5300;
}
.left-sec1 p {
  font-size: 15px;
  color: #7b7b7b;
  width: 78%;
  line-height: 26px;
  margin: 20px 0px;
}
.left-sec1 button {
  padding: 14px 20px;
  background-color: #ff5300;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
}
.burger_hidden {
  display: none;
}
@media (max-width: 510px) {
  .links {
    display: none;
  }
  .burger_hidden {
    display: block;
  }
  .sec1 {
    width: 100%;
    flex-direction: column-reverse;
  }
  .left-sec1 {
    width: 100%;
  }
  .left-sec1 h1 {
    width: 100%;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
  }
  .left-sec1 p {
    width: 100%;
    text-align: center;
  }
  .left-sec1 button {
    display: block;
    margin: 20px auto;
  }
  .right_sec1 {
    width: 100%;
  }
  .right_sec1 img {
    width: 100%;
  }
}
